.register1_form a:nth-child(2){
	width:55%;
	float:left;
	}
.register1_form a:nth-child(2) i{
	width:40%;
	margin-right:16px;
	}
.register1_form a:nth-child(4){
	clear:both;
	}
.register1_box a.next{
	width:60%;
	margin:10px auto 0;
	letter-spacing:2px;
	}