@charset "utf-8";
/* CSS Document */
body{
	position:relative;
	background:#eeeff3;
	}
.top {
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #393a3f;
	color:#fff;
	text-align: center;
	font-size: 1.6em;
	letter-spacing:1em;
	font-weight:bold;
}
header {
	height:40px;
	line-height:40px;
	width:100%;
	color:#a5d8e0;
	font-weight:bold;
	font-size:1.6em;
	text-align:center;
	letter-spacing:1em;
	border-bottom: 1px solid #d5d5d5;
}

#signset-container-container{
	width:90.7%;
	margin:12px auto 0;
	}
#signset-container li.signset{
	width:100%;
	height:75px;
	padding:18px 30px 15px;
	background:#fff;
	margin-bottom:10px;
	letter-spacing:3px;
	}
#signset-container li div{
	width:50%;
	float:left;
	}
div.sign3-left p:nth-child(1){
	font-size:1.4rem;
	margin-bottom:15px;
	}
div.sign3-left p:nth-child(2){
	font-size:1.2rem;
	}
div.sign3-left p a{
	margin-left:12px;
	}
div.sign3-right{
	text-align:right;
	}
div.sign3-right i{
	width:70px;
	height:30px;
	line-height:23px;
	padding-right:9px;
	display:inline-block;
	font-family:"iconfont";
	font-size:30px;
	vertical-align:super;
}
.blue{
	color:#8cbfea;
	}
.green{
	color:#55b55c;
	}
.grey{
	color:#aaa;
	}
.grey p,.green p{
	padding-right:11px;
	}
.red{
	color:#d74d5a
	}
div.sign3-right p{
	font-size:1rem;
	}
